<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Search for monsters in Dragons Dogma Online">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DDON Monster Locations</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.0.6/dist/vue-multiselect.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <style>
        [v-cloak] { display: none !important; }
    </style>

    <script src="https://unpkg.com/vue@latest"></script>
    <script src="https://unpkg.com/vue-multiselect@2.0.6"></script>
    <script src="https://unpkg.com/lodash@latest"></script>
    <script src="https://unpkg.com/clipboard-polyfill@latest/build/clipboard-polyfill.js"></script>
    <script src="https://unpkg.com/yamljs@latest/dist/yaml.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">DDON Monster Locations</a>

        <ul class="navbar-nav ml-auto">
            <li class="mr-2">
                <a style="color: #fff">
                    Created by Seiyria Swaglin
                </a>
            </li>
            <li>
                <a href="https://github.com/seiyria/ddon-monster-locations" target="_blank">
                    <span class="fa fa-github" style="color: #fff"></span>
                </a>
            </li>
        </ul>
    </nav>

    <main class="container mt-3" id="app">

        <div v-cloak class="row mt-3">
            <div class="col col-9">
                <multiselect
                    v-model="currentMonsters"
                    :options="allMonsters"
                    :value="search"
                    :close-on-select="false"
                    :clear-on-select="false"
                    :multiple="true"
                    group-label="regionName"
                    group-values="monsterInfo"
                    track-by="name"
                    label="name"
                    placeholder="Search Creature by Name, Level..."
                    label="creature"
                    @remove="updateHash"
                    @close="updateHash">
                </multiselect>
            </div>

            <div class="col col-3">
                <div class="form-check">
                    <label class="form-check-label" for="extraDataSelector">
                        <input class="form-check-input" type="checkbox" v-model="noExtraData" id="extraDataSelector" />
                        Hide Extra Data
                    </label>
                </div>

                <div>
                    <button class="btn btn-info" @click="copy">Copy List</button>
                </div>
            </div>
        </div>

        <div v-cloak class="row mt-3" v-if="currentMonsters.length > 0" v-for="monster in currentMonsters">
            <div class="col w-100">
                <div class="card w-100">
                    <div class="card-header">
                        {{ monster.name }}
                        <span class="float-right">
                            {{ monster.regionData.name }} ~ Lv. {{ monster.regionData.level }} (Schedule: {{ monster.data.timePeriod || 'always' }}, X: {{ monster.regionData.location.x }}, Y: {{ monster.regionData.location.y }})
                        </span>
                    </div>
                    <div v-if="!noExtraData">
                        <div class="row">
                            <div class="col p-3">
                                <h5 class="text-center">Known Coordinates</h5>
                                <ul>
                                    <li v-if="monster.data.coordinates.length === 0">None</li>
                                    <li v-for="coordinate in monster.data.coordinates">
                                        X: {{ coordinate.x }}, Y: {{ coordinate.y }}
                                    </li>
                                </ul>
                            </div>

                            <div class="col p-3">
                                <h5 class="text-center">Related Quests</h5>
                                <ul>
                                    <li v-if="monster.data.events.length === 0">None</li>
                                    <li v-for="event in monster.data.events">
                                        {{ event.name }} ~ {{ event.level }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div v-cloak class="row mt-3" v-if="currentMonsters.length === 0">
            <div class="col">
                <div class="alert alert-info">
                    Select some monsters to generate a list of their locations.
                </div>
            </div>
        </div>

        <div v-cloak class="row mt-3" v-if="currentMonsters.length > 0 && neededZones.length > 0">
            <div class="col">
                <div class="alert alert-info">
                    Hey! If you happen to have info on any of the following zones, please send a monster list to Seiyria#3457 on discord. Thanks!

                    <br><br>

                    <ul>
                        <li v-for="zone in neededZones">{{ zone }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <script src="index.js"></script>
</body>
</html>